/* opa */
html{
    font-size: 62,5%;/*10px*/
}

body {
    
    background-color: #76c893;
    font-family: monospace;
    font-size: 1.6rem;
    margin:0px;
    height: 100%;
   
}

h2 {
    color:white;
    text-align: center;
    font-size: 3.7rem;
}

.break {
    flex-basis: 100%;
    height: 0;
}

#refresh {
    height: 2rem;
    width: 2rem;
}


.main-square {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px 20px;
    color: white;
    font-size:1.4rem;
    padding: 17px;
    height: 90%;
    width: 90%;
    border: 5px solid white;
}

.first {
    display: flex;
    height: 1.5rem;

}

#ConverInicial {
    text-decoration: none;
    padding: 0px;
}

.second {
   display: flex;
   flex-direction: row;

}    
.third {
    display: flex;
    flex-direction: column;
}

#calcular {
    background-color: #588157;
    color: whitesmoke;
    font-size:35px;
    border: 2px solid white ;
}

#calcular:hover{
    background-color: #2f3e46;
    color: white;

}

/* div criada a partir do script*/
.resultado {
    display: flex;
    width: 25px;
    font-family: monospace;
    color: white;
    font-size: 20px;
    border-radius: 2px;
    border-color:aliceblue;
    border-style: solid;
    
}

@media(max-width: 590px) {
   .main-square{
     border: none;
   }
}
   








